@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

// COLORS
$mainColor: rgb(38, 35, 32);
$secondaryColor: rgb(255, 252, 221);

//FONTS
$myHeadline: 'Raleway', sans-serif;
$myContent: 'Space Mono', monospace;

//FONT SIZE
$primaryHeadline: 28px;
$secondaryHeadline: 24px;
$tertiaryHeadline: 20px;
$navText: 18px;
$bodyText: 16px;
$metaText: 12px;