@import './src/utilities/variables';

#bootstrap-override {
    .card-group {
        flex-wrap: wrap;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18rem,1fr));
        grid-gap: 20px;
    }
    .card {
        height: 100%;
        display: flex;
        border: 2px dashed $mainColor;
        border-radius: 0;
        padding: 15px;
        background-color: transparent;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
        }
    }
    .card:hover {
        border: 2px solid $mainColor;
        background-color: rgba(255, 252, 221, 0.3);
    }
    .card-img-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: auto;
        width: 100%;
        .btn {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            border: none;
            border-radius: 0;
            background-color: $mainColor;
        }
        .btn:hover {
            background-color: #000;
        }
        .category {
            background-color: $mainColor;
            color: $secondaryColor;
            font-size: $bodyText;
            width: 100%;
            padding: 2px 10px;
        }
    }
    .card-img-top {
        border: none;
        border-radius: 0;
        height: auto;
        width: 100%;
        z-index: 0;
    }
    .card-body {
        padding: 0;
        font-family: $myContent;
        color: $mainColor;
    }
    .card-title {
        margin: 5px 0;
        font-size: $secondaryHeadline;
        font-weight: 700;
    }
    .card-subtitle {
        margin: 0 0 10px 0;
        font-size: $tertiaryHeadline;
        font-weight: 700;
        opacity: 0.8;
    }
    .card-text {
        margin: 0 0 10px 0;
        font-size: $bodyText;
    }
    .card-link {
        font-size: $metaText;
        color: $mainColor;
        text-decoration: none;
        font-weight: 700;
    }
    .card-link:hover {
        text-decoration: underline;
    }
    .card-footer {
        background-color: transparent;
        border-top: 2px solid $mainColor;
        padding: 10px 0 0 0;
    }
}